In [ ]:
import numpy as np
import pandas as pd

In [ ]:
books = pd.read_csv('new_books.csv', encoding='utf-8')
users = pd.read_csv('users.csv')
ratings = pd.read_csv('new_ratings.csv', encoding='utf-8')

In [ ]:
books.head()

,Book No.,Book-Title,Author,Subject,Image URL
0,1,Higher Engineering Mathematics,B.S.Grewal,Mathematics,https://m.media-amazon.com/images/I/617pWj4VBv...
1,2,Engineering Mathematics,K.A.Stroud,Mathematics,https://m.media-amazon.com/images/I/41Jwj2eivL...
2,3,Engineering Mathematics,N.P.Bali,Mathematics,https://m.media-amazon.com/images/I/519lKRfX4v...
3,4,Engineering Mathematics,B.V.Ramana,Mathematics,https://m.media-amazon.com/images/I/816KBqX+V0...
4,5,A Textbook of Engineering Mathematic,N.P.Bali and Manish Goyal,Mathematics,https://m.media-amazon.com/images/I/519lKRfX4v...

In [ ]:
users.head()

   User ID                             Location   Age
0         1                  nyc, new york, usa   NaN
1         2           stockton, california, usa  18.0
2         3     moscow, yukon territory, russia   NaN
3         4           porto, v.n.gaia, portugal  17.0
4         5  farnborough, hants, united kingdom   NaN

In [ ]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(300, 5)
(200, 3)
(1999, 3)

In [ ]:
books.isnull().sum()

Book No.      0
Book-Title    0
Author        0
Subject       0
Image URL     0
dtype: int64

In [ ]:
users.isnull().sum()

User ID      0
Location     0
Age         88
dtype: int64

In [ ]:
ratings.isnull().sum()

Book No.    0
User ID     0
Ratings     0
dtype: int64

In [ ]:
books.duplicated().sum()

0

In [ ]:
users.duplicated().sum()

0

In [ ]:
ratings.duplicated().sum()

7

## Popularity based Filtering Algorithm

In [ ]:
ratings.merge(books,on='Book No.')

,Book No.,User ID,Ratings,Book-Title,Author,Subject,Image URL
0,1,51,7,Higher Engineering Mathematics,B.S.Grewal,Mathematics,https://m.media-amazon.com/images/I/617pWj4VBv...
1,1,27,7,Higher Engineering Mathematics,B.S.Grewal,Mathematics,https://m.media-amazon.com/images/I/617pWj4VBv...
2,1,96,5,Higher Engineering Mathematics,B.S.Grewal,Mathematics,https://m.media-amazon.com/images/I/617pWj4VBv...
3,2,52,4,Engineering Mathematics,K.A.Stroud,Mathematics,https://m.media-amazon.com/images/I/41Jwj2eivL...
4,2,28,7,Engineering Mathematics,K.A.Stroud,Mathematics,https://m.media-amazon.com/images/I/41Jwj2eivL...
...,...,...,...,...,...,...,...
1994,300,96,5,Harry Potter and the Deathly Hallows,J.K. Rowling,Novels,https://m.media-amazon.com/images/I/51jyI6lYi1...
1995,300,95,9,Harry Potter and the Deathly Hallows,J.K. Rowling,Novels,https://m.media-amazon.com/images/I/51jyI6lYi1...
1996,300,7,3,Harry Potter and the Deathly Hallows,J.K. Rowling,Novels,https://m.media-amazon.com/images/I/51jyI6lYi1...
1997,300,95,3,Harry Potter and the Deathly Hallows,J.K. Rowling,Novels,https://m.media-amazon.com/images/I/51jyI6lYi1...
1998,300,3,10,Harry Potter and the Deathly Hallows,J.K. Rowling,Novels,https://m.media-amazon.com/images/I/51jyI6lYi1...

In [ ]:
ratings_with_name=ratings.merge(books,on='Book No.')

In [ ]:
number_ratings_dataframe = ratings_with_name.groupby('Book-Title').count()['Ratings'].reset_index()
number_ratings_dataframe.rename(columns={'Ratings':'No.of_Ratings'},inplace=True)
number_ratings_dataframe

                                            Book-Title  No.of_Ratings
0                    A Smarter Way to Learn JavaScript             10
1                                 Effective JavaScript             10
2     Eloquent JavaScript: A Modern Introduction to...              9
3                              Fundamentals of Physics              3
4                           JavaScript: The Good Parts             10
..                                                 ...            ...
276                 Wave Mechanics and Wave Statistics              3
277                               Word Power Made Easy              6
278                                   You Are a Badass              9
279                    You Don't Know JS (book series)              2
280  arget Band 7: IELTS Academic Module - How to M...              6

[281 rows x 2 columns]

In [ ]:
#ratings.merge(books,on='Book No.').shape

In [ ]:
ratings_with_name.shape

(1999, 7)

In [ ]:
print(ratings_with_name.head())

   Book No.  User ID  Ratings                      Book-Title      Author  \
0         1       51        7  Higher Engineering Mathematics  B.S.Grewal
1         1       27        7  Higher Engineering Mathematics  B.S.Grewal
2         1       96        5  Higher Engineering Mathematics  B.S.Grewal
3         2       52        4         Engineering Mathematics  K.A.Stroud
4         2       28        7         Engineering Mathematics  K.A.Stroud

       Subject                                          Image URL
0  Mathematics  https://m.media-amazon.com/images/I/617pWj4VBv...
1  Mathematics  https://m.media-amazon.com/images/I/617pWj4VBv...
2  Mathematics  https://m.media-amazon.com/images/I/617pWj4VBv...
3  Mathematics  https://m.media-amazon.com/images/I/41Jwj2eivL...
4  Mathematics  https://m.media-amazon.com/images/I/41Jwj2eivL...

In [ ]:
print(ratings_with_name.columns)

Index(['Book No.', 'User ID', 'Ratings', 'Book-Title', 'Author', 'Subject',
       'Image URL'],
      dtype='object')

number_ratings_dataframe = ratings_with_bookno.groupby('Book No.').count()['Rating'].reset_index()
number_ratings_dataframe.rename(columns={'Rating':'No.of_Ratings'},inplace=True)
number_ratings_dataframe

In [ ]:
average_ratings_dataframe = ratings_with_name.groupby('Book-Title').mean()['Ratings'].reset_index()
average_ratings_dataframe.rename(columns={'Ratings': 'Average_Ratings'}, inplace=True)
average_ratings_dataframe

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13712\3842467240.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_ratings_dataframe = ratings_with_name.groupby('Book-Title').mean()['Ratings'].reset_index()

                                            Book-Title  Average_Ratings
0                    A Smarter Way to Learn JavaScript         6.800000
1                                 Effective JavaScript         5.400000
2     Eloquent JavaScript: A Modern Introduction to...         7.555556
3                              Fundamentals of Physics         4.666667
4                           JavaScript: The Good Parts         6.100000
..                                                 ...              ...
276                 Wave Mechanics and Wave Statistics         6.333333
277                               Word Power Made Easy         6.333333
278                                   You Are a Badass         6.777778
279                    You Don't Know JS (book series)         3.500000
280  arget Band 7: IELTS Academic Module - How to M...         6.333333

[281 rows x 2 columns]

In [ ]:
popular_df = number_ratings_dataframe.merge(average_ratings_dataframe,on= 'Book-Title')
popular_df

,Book-Title,No.of_Ratings,Average_Ratings
0,A Smarter Way to Learn JavaScript,10,6.800000
1,Effective JavaScript,10,5.400000
2,Eloquent JavaScript: A Modern Introduction to...,9,7.555556
3,Fundamentals of Physics,3,4.666667
4,JavaScript: The Good Parts,10,6.100000
...,...,...,...
276,Wave Mechanics and Wave Statistics,3,6.333333
277,Word Power Made Easy,6,6.333333
278,You Are a Badass,9,6.777778
279,You Don't Know JS (book series),2,3.500000
280,arget Band 7: IELTS Academic Module - How to M...,6,6.333333

In [ ]:
popular_df[popular_df['No.of_Ratings']>=10].sort_values('Average_Ratings',ascending=False)

                                 Book-Title  No.of_Ratings  Average_Ratings
204                Principles of Management             10              7.3
262                 The Obstacle Is the Way             10              7.1
132   Harry Potter and the Sorcerer's Stone             10              7.1
226         Secrets of the JavaScript Ninja             10              7.0
34      Business Ethics: Concepts and Cases             10              7.0
..                                      ...            ...              ...
232                          Start with Why             10              4.6
8                      A Tale of Two Cities             10              4.4
174  Mindset: The New Psychology of Success             10              4.3
253              The Fellowship of the Ring             10              4.1
257                 The Happiness Advantage             10              4.0

[64 rows x 3 columns]

In [ ]:
#Top10recommendations
#Top10recommendations
#Top10recommendations
popular_df= popular_df[popular_df['No.of_Ratings']>=10].sort_values('Average_Ratings',ascending=False).head(9)

In [ ]:
popular_df
#these are our top 10 recommendation on the basis of ratings in descending order(having more than 10 ratings)

                                Book-Title  No.of_Ratings  Average_Ratings
204               Principles of Management             10         7.300000
262                The Obstacle Is the Way             10         7.100000
132  Harry Potter and the Sorcerer's Stone             10         7.100000
226        Secrets of the JavaScript Ninja             10         7.000000
34     Business Ethics: Concepts and Cases             10         7.000000
0        A Smarter Way to Learn JavaScript             10         6.800000
106                   Financial Accounting             10         6.700000
30            Basic Mechanical Engineering             12         6.666667
238                          The 5 AM Club             10         6.600000

In [ ]:
popular_df.merge(books,on ='Book-Title')

,Book-Title,No.of_Ratings,Average_Ratings,Book No.,Author,Subject,Image URL
0,Principles of Management,10,7.300000,169,P.C. Tripathi and P.N. Reddy,Business & Management,https://m.media-amazon.com/images/I/71I4QOyl7u...
1,The Obstacle Is the Way,10,7.100000,199,Ryan Holiday,Self Growth and Improvement,https://images-eu.ssl-images-amazon.com/images...
2,Harry Potter and the Sorcerer's Stone,10,7.100000,289,Harry Potter and the Sorcerer's Stone,Novels,https://m.media-amazon.com/images/I/51HSkTKlau...
3,Secrets of the JavaScript Ninja,10,7.000000,284,"John Resig, Bear Bibeault, Josip Maras",JavaScript,https://codingbeautydev.com/wp-content/uploads...
4,Business Ethics: Concepts and Cases,10,7.000000,175,Manuel G. Velasquez,Business & Management,https://m.media-amazon.com/images/I/91LnseiQ3-...
5,A Smarter Way to Learn JavaScript,10,6.800000,278,Mark Myers,JavaScript,https://codingbeautydev.com/wp-content/uploads...
6,Financial Accounting,10,6.700000,176,T.S. Reddy and A. Murthy,Business & Management,https://mybooksfactory.com/wp-content/uploads/...
7,Basic Mechanical Engineering,12,6.666667,216,Basant Agrawal,Mechanical Engineering,https://m.media-amazon.com/images/I/51SQ9Lu+KJ...
8,Basic Mechanical Engineering,12,6.666667,220,Mohan Sen,Mechanical Engineering,https://m.media-amazon.com/images/I/51CtQnVuVL...
9,The 5 AM Club,10,6.600000,197,Robin Sharma,Self Growth and Improvement,https://m.media-amazon.com/images/I/71zytzrg6l...

In [ ]:
popular_df.merge(books,on ='Book-Title').shape

(10, 7)

In [ ]:
popular_df= popular_df.merge(books,on ='Book-Title')[['Book-Title','Author','Image URL','No.of_Ratings','Average_Ratings']]

In [ ]:
popular_df

,Book-Title,Author,Image URL,No.of_Ratings,Average_Ratings
0,Principles of Management,P.C. Tripathi and P.N. Reddy,https://m.media-amazon.com/images/I/71I4QOyl7u...,10,7.300000
1,The Obstacle Is the Way,Ryan Holiday,https://images-eu.ssl-images-amazon.com/images...,10,7.100000
2,Harry Potter and the Sorcerer's Stone,Harry Potter and the Sorcerer's Stone,https://m.media-amazon.com/images/I/51HSkTKlau...,10,7.100000
3,Secrets of the JavaScript Ninja,"John Resig, Bear Bibeault, Josip Maras",https://codingbeautydev.com/wp-content/uploads...,10,7.000000
4,Business Ethics: Concepts and Cases,Manuel G. Velasquez,https://m.media-amazon.com/images/I/91LnseiQ3-...,10,7.000000
5,A Smarter Way to Learn JavaScript,Mark Myers,https://codingbeautydev.com/wp-content/uploads...,10,6.800000
6,Financial Accounting,T.S. Reddy and A. Murthy,https://mybooksfactory.com/wp-content/uploads/...,10,6.700000
7,Basic Mechanical Engineering,Basant Agrawal,https://m.media-amazon.com/images/I/51SQ9Lu+KJ...,12,6.666667
8,Basic Mechanical Engineering,Mohan Sen,https://m.media-amazon.com/images/I/51CtQnVuVL...,12,6.666667
9,The 5 AM Club,Robin Sharma,https://m.media-amazon.com/images/I/71zytzrg6l...,10,6.600000

## Collaborative Based Filtering Algorithms

In [ ]:
ratings_with_name

,Book No.,User ID,Ratings,Book-Title,Author,Subject,Image URL
0,1,51,7,Higher Engineering Mathematics,B.S.Grewal,Mathematics,https://m.media-amazon.com/images/I/617pWj4VBv...
1,1,27,7,Higher Engineering Mathematics,B.S.Grewal,Mathematics,https://m.media-amazon.com/images/I/617pWj4VBv...
2,1,96,5,Higher Engineering Mathematics,B.S.Grewal,Mathematics,https://m.media-amazon.com/images/I/617pWj4VBv...
3,2,52,4,Engineering Mathematics,K.A.Stroud,Mathematics,https://m.media-amazon.com/images/I/41Jwj2eivL...
4,2,28,7,Engineering Mathematics,K.A.Stroud,Mathematics,https://m.media-amazon.com/images/I/41Jwj2eivL...
...,...,...,...,...,...,...,...
1994,300,96,5,Harry Potter and the Deathly Hallows,J.K. Rowling,Novels,https://m.media-amazon.com/images/I/51jyI6lYi1...
1995,300,95,9,Harry Potter and the Deathly Hallows,J.K. Rowling,Novels,https://m.media-amazon.com/images/I/51jyI6lYi1...
1996,300,7,3,Harry Potter and the Deathly Hallows,J.K. Rowling,Novels,https://m.media-amazon.com/images/I/51jyI6lYi1...
1997,300,95,3,Harry Potter and the Deathly Hallows,J.K. Rowling,Novels,https://m.media-amazon.com/images/I/51jyI6lYi1...
1998,300,3,10,Harry Potter and the Deathly Hallows,J.K. Rowling,Novels,https://m.media-amazon.com/images/I/51jyI6lYi1...

In [ ]:
ratings_with_name.groupby('User ID').count()['Ratings']

User ID
1      22
2      47
3      53
4      28
5      90
       ..
112    19
113    19
198    19
199    19
200    19
Name: Ratings, Length: 106, dtype: int64

In [ ]:
x = ratings_with_name.groupby('User ID').count()['Ratings'] >= 5
x[x].index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  22,  23,
             24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,
             37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,
             50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,
             63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,
             76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,
             89,  90,  91,  92,  93,  94,  95,  96,  97,  98, 111, 112, 113,
            198, 199, 200],
           dtype='int64', name='User ID')

In [ ]:
potential_users = x[x].index

In [ ]:
filtered_ratings = ratings_with_name[ratings_with_name['User ID'].isin(potential_users)]

In [ ]:
y = filtered_ratings.groupby('Book-Title').count()['Ratings'] >=5
famous_books = y[y].index

In [ ]:
famous_books

Index([' A Smarter Way to Learn JavaScript', ' Effective JavaScript',
       ' Eloquent JavaScript: A Modern Introduction to Programming',
       ' JavaScript: The Good Parts', ' You Don’t Know JS',
       'A History Of Mechanical Engineering',
       'A Short History of Economic Thought', 'A Tale of Two Cities',
       'A Textbook of Engineering Mathematic', 'Advanced Data Structures',
       ...
       'The Research Methods Knowledge Base',
       'The SAGE Handbook Of Qualitative Research',
       'The Subtle Art of Not Giving a F*ck', 'The Wealth of Nations',
       'Therapeutic Waves', 'Thinking, Fast and Slow',
       'Threat Modeling: Designing for Security', 'Word Power Made Easy',
       'You Are a Badass',
       'arget Band 7: IELTS Academic Module - How to Maximize Your Score'],
      dtype='object', name='Book-Title', length=187)

In [ ]:
final_ratings = filtered_ratings[filtered_ratings['Book-Title'].isin(famous_books)]

In [ ]:
final_ratings.drop_duplicates()

,Book No.,User ID,Ratings,Book-Title,Author,Subject,Image URL
0,1,51,7,Higher Engineering Mathematics,B.S.Grewal,Mathematics,https://m.media-amazon.com/images/I/617pWj4VBv...
1,1,27,7,Higher Engineering Mathematics,B.S.Grewal,Mathematics,https://m.media-amazon.com/images/I/617pWj4VBv...
2,1,96,5,Higher Engineering Mathematics,B.S.Grewal,Mathematics,https://m.media-amazon.com/images/I/617pWj4VBv...
3,2,52,4,Engineering Mathematics,K.A.Stroud,Mathematics,https://m.media-amazon.com/images/I/41Jwj2eivL...
4,2,28,7,Engineering Mathematics,K.A.Stroud,Mathematics,https://m.media-amazon.com/images/I/41Jwj2eivL...
...,...,...,...,...,...,...,...
1994,300,96,5,Harry Potter and the Deathly Hallows,J.K. Rowling,Novels,https://m.media-amazon.com/images/I/51jyI6lYi1...
1995,300,95,9,Harry Potter and the Deathly Hallows,J.K. Rowling,Novels,https://m.media-amazon.com/images/I/51jyI6lYi1...
1996,300,7,3,Harry Potter and the Deathly Hallows,J.K. Rowling,Novels,https://m.media-amazon.com/images/I/51jyI6lYi1...
1997,300,95,3,Harry Potter and the Deathly Hallows,J.K. Rowling,Novels,https://m.media-amazon.com/images/I/51jyI6lYi1...
1998,300,3,10,Harry Potter and the Deathly Hallows,J.K. Rowling,Novels,https://m.media-amazon.com/images/I/51jyI6lYi1...

In [ ]:
pt = final_ratings.pivot_table(index='Book-Title',columns='User ID',values='Ratings')

In [ ]:
pt.shape

(187, 94)

In [ ]:
#pt

In [ ]:
pt.fillna(0,inplace=True)

In [ ]:
pt

User ID,1,2,3,4,5,6,7,8,9,10,...,95,96,97,98,111,112,113,198,199,200
Book-Title,,,,,,,,,,,,,,,,,,,,,
A Smarter Way to Learn JavaScript,0.0,0.0,0.0,0.0,8.0,0.0,0.0,9.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Effective JavaScript,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Eloquent JavaScript: A Modern Introduction to Programming,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,8.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
JavaScript: The Good Parts,0.0,6.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Don’t Know JS,0.0,0.0,10.0,5.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Thinking, Fast and Slow",0.0,0.0,0.0,0.0,7.0,0.0,9.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0
Threat Modeling: Designing for Security,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
Word Power Made Easy,0.0,0.0,9.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
You Are a Badass,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
arget Band 7: IELTS Academic Module - How to Maximize Your Score,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#now we have our pivot table , we only have to calculate the distance

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity_scores = cosine_similarity(pt)

In [ ]:
similarity_scores.shape #shape shows that each book has similarity with every book

(187, 187)

In [ ]:
similarity_scores

array([[1.        , 0.        , 0.10506675, ..., 0.        , 0.2111909 ,
        0.22285896],
       [0.        , 1.        , 0.        , ..., 0.09489352, 0.15589807,
        0.        ],
       [0.10506675, 0.        , 1.        , ..., 0.        , 0.        ,
        0.18049113],
       ...,
       [0.        , 0.09489352, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.2111909 , 0.15589807, 0.        , ..., 0.        , 1.        ,
        0.17967176],
       [0.22285896, 0.        , 0.18049113, ..., 0.        , 0.17967176,
        1.        ]])

In [ ]:
similarity_scores[0] #similarity of book 1 with all other books of pivot table

array([1.        , 0.        , 0.10506675, 0.17393321, 0.13323999,
       0.        , 0.1806845 , 0.23251489, 0.10219028, 0.04513781,
       0.07679764, 0.18422532, 0.        , 0.37479743, 0.        ,
       0.02022674, 0.        , 0.09499289, 0.10259919, 0.        ,
       0.41594813, 0.        , 0.        , 0.        , 0.12414832,
       0.19534038, 0.11071157, 0.08131104, 0.30660778, 0.4964906 ,
       0.        , 0.        , 0.28708591, 0.        , 0.08811019,
       0.17980215, 0.        , 0.        , 0.        , 0.14549234,
       0.        , 0.03461912, 0.        , 0.        , 0.        ,
       0.        , 0.16845282, 0.14276685, 0.        , 0.        ,
       0.        , 0.11534996, 0.        , 0.10728488, 0.25827395,
       0.        , 0.03727761, 0.14285441, 0.14068928, 0.14171783,
       0.18503739, 0.08846938, 0.08281235, 0.31145259, 0.1415094 ,
       0.08833586, 0.        , 0.0876483 , 0.11230273, 0.38429291,
       0.17676641, 0.        , 0.1496818 , 0.13273531, 0.05483537,
       0.0884358 , 0.10639084, 0.13129044, 0.02776854, 0.        ,
       0.08056391, 0.16451186, 0.41709745, 0.22180448, 0.096586  ,
       0.14495925, 0.06576258, 0.07484894, 0.19586945, 0.20934578,
       0.26283534, 0.17777734, 0.        , 0.18719933, 0.        ,
       0.17450481, 0.11581415, 0.11264913, 0.        , 0.16056035,
       0.43654918, 0.20171031, 0.        , 0.10279213, 0.10672074,
       0.02674613, 0.18902092, 0.22696717, 0.20331706, 0.22932806,
       0.12687848, 0.        , 0.2533687 , 0.36089092, 0.15989887,
       0.14722195, 0.08415586, 0.114599  , 0.        , 0.22661123,
       0.0182842 , 0.1887513 , 0.05452817, 0.12815048, 0.19195394,
       0.04624286, 0.16394791, 0.        , 0.        , 0.3153463 ,
       0.15802662, 0.0931535 , 0.43934615, 0.06428448, 0.11194249,
       0.18985602, 0.10116861, 0.17700304, 0.06852809, 0.        ,
       0.        , 0.        , 0.33706807, 0.04076645, 0.        ,
       0.27858009, 0.1391876 , 0.07661673, 0.        , 0.        ,
       0.        , 0.28957782, 0.22704411, 0.15715278, 0.10574013,
       0.27304368, 0.00508194, 0.        , 0.1861554 , 0.09616207,
       0.08595481, 0.04487272, 0.26633301, 0.        , 0.        ,
       0.32752166, 0.07986249, 0.12604251, 0.23053326, 0.03033006,
       0.        , 0.        , 0.21100654, 0.03722904, 0.17446923,
       0.29688983, 0.04425076, 0.        , 0.04852809, 0.22967013,
       0.1517827 , 0.11778243, 0.13438843, 0.        , 0.        ,
       0.2111909 , 0.22285896])

In [ ]:
def recommend(book_name):
    #index fetch
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key = lambda x:x[1],reverse = True)[1:6]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image URL'].values))
        
        data.append(item)
    
    return data

In [ ]:
popular_df['Image URL'][0]

'https://m.media-amazon.com/images/I/71I4QOyl7uL._AC_UF1000,1000_QL80_.jpg'

In [ ]:
#sorted(list(enumerate(similarity_score[0])),key = lambda x:x[1],reverse = True)[1:6]
#[(2, 0.7715167498104594),
# (12, 0.5693209272395009),
 #(1, 0.5669467095138407),
 #(4, 0.5611656014922303),
 #(13, 0.5099310911113586)]

In [ ]:
recommend('Thinking, Fast and Slow')

[['Network Analysis',
  'Mac Van Valenburg',
  'https://logicwork.in/wp-content/uploads/2021/05/network-analysis-and-synthesis-book-293x399.jpg'],
 ['The Da Vinci Code',
  'Dan Brown',
  'https://m.media-amazon.com/images/I/41KuPr7kpZL._SY445_SX342_.jpg'],
 ['The Art of Happiness',
  'Dalai Lama and Howard Cutler',
  'https://cdn.kobo.com/book-images/152164a2-3b34-408b-b2c3-0608281d32f7/1200/1200/False/the-art-of-happiness-10th-anniversary-edition-a-handbook-for-living.jpg'],
 ['Linux Kernel Development',
  'Robert Love',
  'https://m.media-amazon.com/images/I/71pBk81gI0L._AC_UF1000,1000_QL80_.jpg'],
 ['She: A History of Adventure',
  'Henry Rider Haggard',
  'https://m.media-amazon.com/images/I/51hOZMd8f-L._SY445_SX342_.jpg']]

In [ ]:
recommend('CAT Exam - Self Study Guide')

[['Technical English',
  'Nick and Alison',
  'https://th.bing.com/th/id/R.01bf12e5a78d037b7b4fb4089e3ffe66?rik=Hu%2bIYr0%2bXRYUKw&riu=http%3a%2f%2fbilder.buecher.de%2fprodukte%2f12%2f12772%2f12772976z.jpg&ehk=fzeNjRFF5aL3zDRNbVWknEyVlBR14ZuQADL8iZqEnAU%3d&risl=&pid=ImgRaw&r=0'],
 ['Business Research Methods',
  'Donald R. Cooper and Pamela S. Schindler',
  'https://m.media-amazon.com/images/I/51buHXP5wqL._AC_UF1000,1000_QL80_.jpg'],
 ['Research Design',
  'John W.Creswell',
  'https://becomeawritertoday.com/wp-content/plugins/aawp/public/image.php?url=aHR0cHM6Ly9tLm1lZGlhLWFtYXpvbi5jb20vaW1hZ2VzL0kvNTFpNmord2o4d0wuX1NMMTYwXy5qcGc'],
 ['A Textbook of Engineering Mathematic',
  'N.P.Bali and Manish Goyal',
  'https://m.media-amazon.com/images/I/519lKRfX4vL.jpg'],
 ['Mindset: The New Psychology of Success',
  'Carol S. Dweck',
  'https://m.media-amazon.com/images/I/41vS70Qo3rL.jpg']]

In [ ]:
pt.index[5]

'A History Of Mechanical Engineering'

In [ ]:
import pickle
pickle.dump(popular_df,open('popular.pkl','wb'))

In [ ]:
# pickle.dump(pt,open('pt.pkl','wb'))
# pickle.dump(books,open('books.pkl','wb'))
# pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))